body{
    background-color: var(--primary);
    color: var(--text);
}

.w-inputSeach{
    width: 25%;
}

.themeIcon{
    position: fixed;
    right: 5px;
    top: 5px;
    height: 30px;
    width: 30px;
    background-color: transparent;
}

.themeIconDark{
    -webkit-filter: invert(1);
   filter: invert(1);
}

.darkModal{
    background-color: var(--secondary);
}


@media (max-width: 767.98px) { 
    .w-inputSeach{
        width: 50%;
    }
}
